# public/images/project1/detail01.gif filter=lfs diff=lfs merge=lfs -text
# public/images/project1/detail00.gif filter=lfs diff=lfs merge=lfs -text
# public/images/project1/detail02.gif filter=lfs diff=lfs merge=lfs -text
# public/images/project1/detail03.gif filter=lfs diff=lfs merge=lfs -text
# public/images/project1/detail04.gif filter=lfs diff=lfs merge=lfs -text
